@page "/UploadFile"
<h3>Upload your Data File </h3>
@using CustomerInformation.Helper
@using FluentValidation
@using System
@using System.IO
@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment Environment

<PageTitle>File Upload 1</PageTitle>


<p>
    <label>
        <InputFile  />
    </label>
</p>



